<!DOCTYPE html>
<html>
<head>
  <title>ForemanProxmox</title>
  <%= stylesheet_link_tag    "foreman_proxmox/application", media: "all" %>
  <%= javascript_include_tag "foreman_proxmox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
